/* Hover state */
.cta a:hover {
  background-color: hsl(0, 100%, 73%);
  color: hsl(70, 6%, 81%);

}

/* Click state */
.cta a:active {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 95%, 47%);

}
